<div class="jumbotron">
  <h1 class="display-4" *ngIf="!(authService.isLoggedIn() | async)">Hello, World</h1>
  <h1 class="display-4" *ngIf="(authService.isLoggedIn() | async)">Hello, {{authService.currentUser.fullName}}</h1>
  <p class="lead">This is a Business app made for training.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-danger btn-lg" *ngIf="!(authService.isLoggedIn() | async)" role="button" [routerLink]="['/user/login']">Login now</a>
</div>