<!-- Default form login -->
<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" class="text-center p-5" action="#!"
  novalidate autocomplete="off">
  <p class="h4 mb-4">Sign up</p>
  <!-- Email -->
  <label>Email</label>
  <input formControlName="email" type="email" name="email" class="form-control mb-4" placeholder="E-mail" required />
  <!-- Password -->
  <label>Password</label>
  <input formControlName="password" (keyup)="checkPasswords(registerForm.value)" type="password" name="password" class="form-control mb-4" placeholder="Password"
    required />
  <!-- Confirm Password -->
  <label>Confirm Password</label>
  <em *ngIf="registerForm.hasError('notMatch')">Password does not match!</em>
  <input formControlName="confirmPassword" (keyup)="checkPasswords(registerForm.value)" type="password" name="confirmPassword" class="form-control mb-4" placeholder="Confirm Password"
    required/>
  <!-- First Name -->
  <label>First Name</label>
  <input formControlName="firstName" type="text" name="firstName" class="form-control mb-4" placeholder="First Name" required />
  <!-- Last Name -->
  <label>Last Name</label>
  <input formControlName="lastName" type="text" name="lastName" class="form-control mb-4" placeholder="Last Name" required />
  <!-- Sign in button -->
  <button [disabled]="!registerForm.valid" class="btn btn-info btn-block my-4" type="submit">Sign up</button>
</form>