form {
    width: 50%;
    margin: auto;
    color: white;
}

em {
    float: right;
    color: #E05C65;
    padding-left: 10px;
    margin-bottom: 1em;
}

.error {
    background-color: #E3C3C5;
}

.error ::-webkit-input-placehodler {
    color: #999;
}

.error ::-moz-placehodler {
    color: #999;
}

.error :-moz-placehodler {
    color: #999;
}

.error :ms-input-placehodler {
    color: #999;
}

label {
    float: left;
}