<div class="container my-5">
  <section class="team-section">
    <div matSort (matSortChange)="sortData($event)" class="card">
      <div class="card-header white d-flex justify-content-between">
        <p class="h5-responsive font-weight-bold mb-0">Latest Members</p>
        <p mat-sort-header="name" class="h5-responsive font-weight-bold mb-0">Sort by name</p>
        <ul class="list-unstyled d-flex align-items-center mb-0">
          <li><span class="badge badge-danger">{{length}} Members</span></li>
          <li><i class="far fa-window-minimize fa-sm pl-3"></i></li>
          <li><i class="fas fa-times fa-sm pl-3"></i></li>
        </ul>
      </div>
      <div class="card-body ">
        <div class="center-form">
          <mat-form-field class="example-form-field">
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="searchInput">
            <button mat-button matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row pt-3 pl-5">
          <div *ngFor="let user of users | usersFilter : searchInput">
            <app-user-card [user]="user"></app-user-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>