<div *ngIf="isLoading" class="center p-5">
  <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="!isLoading" class="example-card">
  <mat-card-header>
    <img mat-card-avatar [src]="user.avatar" alt="Photo of a Shiba Inu">
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
    <mat-card-subtitle>Angular developer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="user.avatar" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <div>
      <button mat-raised-button class="bg-danger" (click)="onDelete()">Delete</button>
      <button mat-raised-button color="accent" (click)="openDialog()">Edit</button>
    </div>
    <div>
      <button mat-button [routerLink]="['/users/list']" color="primary">Back</button>
    </div>
  </mat-card-actions>
</mat-card>